[CODEOWNERS]
CODEOWNERS @kuck @rain

[Documentation]
docs/ @johnk @rain
ref/papers/ @renfrob @rain @kuck
ref/usersguide/ @johnk @renfrob @rain

[Subject Matter Experts]
# Default Owners
* @sgl-tks

# Core lib
core/lib/ @johnk
core/lib/AppFrame/ @johnk @anthony
core/lib/CommandLine/CommandLine.cpp @anthony @magliocca @johnk
core/lib/CommandLine/CommandLine.hpp @anthony @magliocca @johnk
core/lib/CommandLine/ @johnk @anthony
core/lib/FileDirProc/ @johnk @anthony
core/lib/FileHandling/ @anthony @johnk
core/lib/Geomatics/ @magliocca @johnk @butcher
core/lib/GNSSCore/ @anthony @johnk @jmedeiros
core/lib/GNSSEph/ @johnk @anthony @renfrob
core/lib/Math/ @anthony @magliocca @malik
core/lib/NavFilter/ @johnk @anthony @renfrob
core/lib/NewNav/ @johnk @jmedeiros
core/lib/ORD/ @malik @johnk @rcathriner
core/lib/PosSol/ @magliocca @renfrob @malik
core/lib/RefTime/ @magliocca @renfrob
core/lib/TestFramework/ @anthony @johnk
core/lib/TimeHandling/ @anthony @johnk @renfrob
core/lib/Utilities/ @johnk @anthony

# Core tests
core/tests/ @johnk @anthony @renfrob

# Ext -- unsupported & unmaintained, not part of the API
ext/ @johnk @dbarber

# Other
data/ @dbarber @kuck
deprecated/ @dbarber @kuck
examples/ @johnk @magliocca @renfrob

[CPP Reviewers]
*.cpp   @code-reviewers/cpp
*.hpp   @code-reviewers/cpp
*.c     @code-reviewers/cpp
*.h     @code-reviewers/cpp

[Python Reviewers]
*.py   @code-reviewers/python

[Swig Reviewers]
swig/  @code-reviewers/swig
*.i    @code-reviewers/swig

[CMAKE Reviewers]
CMakeLists.txt   @code-reviewers/cmake
*.cmake          @code-reviewers/cmake

[Distribution Reviewers]
conda_recipe/ @code-reviewers/conda-recipes
debian/ @code-reviewers/debian_pkgs
rpm_files/ @code-reviewers/rpm_pkgs
