# Default Owners
* @sgl-tks

[CODEOWNERS]
CODEOWNERS @kuck @rain

[Python/Swig]
swig/ @kuck @malik

[Documentation]
docs/ @johnk @rain
ref/papers/ @renfrob @rain @kuck
ref/usersguide/ @johnk @renfrob @rain

[Subject Matter Experts]

# Core apps
core/apps/ @johnk @btolman
core/apps/positioning/ @btolman @renfrob
core/apps/Rinextools/ @btolman @renfrob

# Core lib
core/lib/ @johnk
core/lib/AppFrame/ @johnk @anthony
core/lib/CommandLine/CommandLine.cpp @anthony @btolman @johnk
core/lib/CommandLine/CommandLine.hpp @anthony @btolman @johnk
core/lib/CommandLine/ @johnk @anthony
core/lib/FileDirProc/ @johnk @anthony
core/lib/FileHandling/ @anthony @johnk
core/lib/Geomatics/ @btolman @johnk
core/lib/GNSSCore/ @anthony @johnk
core/lib/GNSSEph/ @renfrob @johnk @anthony
core/lib/Math/ @anthony @btolman
core/lib/NavFilter/ @johnk @anthony @renfrob
core/lib/ORD/ @kuck @rcathriner
core/lib/PosSol/ @btolman @renfrob
core/lib/RefTime/ @btolman @renfrob
core/lib/TestFramework/ @anthony @johnk
core/lib/TimeHandling/ @anthony @renfrob @johnk
core/lib/Utilities/ @johnk @anthony

# Core tests
core/tests/ @johnk @anthony @renfrob

# Ext
ext/ @johnk @dbarber
ext/apps/filetools/ @btolman @renfrob
ext/apps/geomatics/ @btolman
ext/apps/misc/ @renfrob @johnk
ext/apps/rfw/ @johnk @renfrob
ext/apps/Rinextools/ @btolman @renfrob
ext/lib/Geomatics/ @btolman @renfrob
ext/lib/GNSSEph/ @renfrob @rcathriner
ext/lib/PosSol/ @btolman @johnk

# Other
data/ @dbarber @kuck
deprecated/ @dbarber @kuck
examples/ @johnk @btolman @renfrob

[CPP Reviewers]
*.cpp   @code-reviewers/cpp
*.hpp   @code-reviewers/cpp
*.c     @code-reviewers/cpp
*.h     @code-reviewers/cpp

[Python Reviewers]
*.py   @code-reviewers/python

[Swig Reviewers]
*.i    @code-reviewers/swig

[CMAKE Reviewers]
CMakeLists.txt   @code-reviewers/cmake
*.cmake          @code-reviewers/cmake

[Distribution Reviewers]
conda_recipe/ @code-reviewers/conda-recipes
debian/ @code-reviewers/debian_pkgs
rpm_files/ @code-reviewers/rpm_pkgs

