gnsstk-bin/
gnsstk-dev/
libgnsstk*/
python-gnsstk/
tmp/
files
*.log
gnsstk-bin.substvars
libgnsstk-dev.substvars
libgnsstk*.substvars
python-gnsstk.substvars
*.postinst.debhelper
*.prerm.debhelper
*.postrm.debhelper

