# debian/control is generated automatically from control.in by running the clean target
Source: gnsstk
Priority: optional
Maintainer: Bryan Parsons <bparsons@arlut.utexas.edu>
Build-Depends: debhelper (>= 9), cmake, python3-dev <pkg_python3>, dh-python <pkg_python3>, cmake, swig, dpkg-dev, python-dev <pkg_python2>, python-setuptools  <pkg_python2>,  python3-setuptools  <pkg_python3>
X-Python-Version: 2.7
Standards-Version: 3.9.5
Section: libs
Homepage: http://www.gnsstk.org/
Vcs-Git: https://github.com/SGL-UT/GNSSTk.git
Vcs-Browser: https://github.com/SGL-UT/GNSSTk.git

Package: gnsstk-bin
Architecture: any
Depends: libgnsstk12 (>= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
Description: GNSS Toolkit (GNSSTk) - command line tools
 The GNSS Toolkit (GNSSTk) is an open-source (LGPL) project sponsored by
 the Space and Geophysics Laboratory (SGL), part of the Applied Research
 Laboratories (ARL) at The University of Texas at Austin.
 The primary goals of the GNSSTk project are to:
 * provide applications for use by the GNSS and satellite navigation community.
 * provide a core library to facilitate the development of GNSS applications.

Package: libgnsstk12-dev
Section: libdevel
Architecture: any
Depends: libgnsstk12 (= ${binary:Version}), ${misc:Depends}
Description: GNSS Toolkit (GNSSTk) - Headers
 The GNSS Toolkit (GNSSTk) is an open-source (LGPL) project sponsored by
 the Space and Geophysics Laboratory (SGL), part of the Applied Research
 Laboratories (ARL) at The University of Texas at Austin.
 The primary goals of the GNSSTk project are to:
 * provide applications for use by the GNSS and satellite navigation community.
 * provide a core library to facilitate the development of GNSS applications.

Package: libgnsstk12
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GNSS Toolkit (GNSSTk) - Shared Libraries
 The GNSS Toolkit (GNSSTk) is an open-source (LGPL) project sponsored by
 the Space and Geophysics Laboratory (SGL), part of the Applied Research
 Laboratories (ARL) at The University of Texas at Austin.
 The primary goals of the GNSSTk project are to:
 * provide applications for use by the GNSS and satellite navigation community.
 * provide a core library to facilitate the development of GNSS applications.

Package: libgnsstk12-dbg
Architecture: any
Section: debug
Priority: extra
Depends: libgnsstk12 (= ${binary:Version}), ${misc:Depends}
Description: GNSS Toolkit (GNSSTk) - Shared Library Debugging Symbols
 The GNSS Toolkit (GNSSTk) is an open-source (LGPL) project sponsored by
 the Space and Geophysics Laboratory (SGL), part of the Applied Research
 Laboratories (ARL) at The University of Texas at Austin.
 The primary goals of the GNSSTk project are to:
 * provide applications for use by the GNSS and satellite navigation community.
 * provide a core library to facilitate the development of GNSS applications.

Package: python3-gnsstk
Build-Profiles: <pkg_python3>
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Provides: ${python3:Provides}
Breaks: python-gnsstk (<< ${binary:Version})
XB-Python-Version: ${python3:Versions}
Description: GNSS Toolkit (GNSSTk) - Python bindings
 The GNSS Toolkit (GNSSTk) is an open-source (LGPL) project sponsored by
 the Space and Geophysics Laboratory (SGL), part of the Applied Research
 Laboratories (ARL) at The University of Texas at Austin.
 The primary goals of the GNSSTk project are to:
 * provide applications for use by the GNSS and satellite navigation community.
 * provide a core library to facilitate the development of GNSS applications.

Package: python-gnsstk
Build-Profiles: <pkg_python2>
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-enum34, python3-gnsstk (= ${binary:Version})
Provides: ${python:Provides}
XB-Python-Version: ${python2:Versions}
Description: GNSS Toolkit (GNSSTk) - Python bindings
 The GNSS Toolkit (GNSSTk) is an open-source (LGPL) project sponsored by
 the Space and Geophysics Laboratory (SGL), part of the Applied Research
 Laboratories (ARL) at The University of Texas at Austin.
 The primary goals of the GNSSTk project are to:
 * provide applications for use by the GNSS and satellite navigation community.
 * provide a core library to facilitate the development of GNSS applications.
